<%= tag("div", data: { stocks: Stock.all.to_json}, id: "stockData") %>

<h1>Issue#show</h1>
<br>
<h3>
  <%= link_to(@issue.stock_number, issue_path(@issue.id)) %> :&ensp;
  <%= link_to(@issue.company_name, issue_path(@issue.id)) %>
</h3>

<br><br>
<h3>
  注文　：　
  <%= link_to("買い注文", new_issue_buy_path(@issue)) %> &ensp;
  <%= link_to("売り注文", new_issue_sell_path(@issue)) %> &ensp;
</h3>

<br><br>

<div class="board_display">
  <table border="1" width="500" height="300" cellpadding="10">
    <tr align="center">
      <th width="35%">売り気配</th>
      <th width="30%">価格</th>
      <th width="35%">買い気配</th>
    </tr>
    <% @sells.each do |sell| %>
    <tr align="center">
      <td class="t_sell"><%= sell.amount %></td>
      <td><%= sell.price %></td>
      <td></td>
    </tr>
    <% end %>
    <% @buys.each do |buy| %>
    <tr align="center">
      <td></td>
      <td><%= buy.price %></td>
      <td class="t_buy"><%= buy.amount %></td>
    </tr>
    <% end %>
  </table>
</div>

<br><br><br>

<div class="chart_display">
  チャートを表示する
  <br><br>
  <!-- <%= image_tag('/1302.png') %> -->
</div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>
